<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="../css_files/about_us.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
  <video id="background-video"  autoplay loop muted >
    <source src="../Contents/MyVideo.mp4" type="video/mp4" type="video/mp4">
  </video>

    <div class="main">
      <div class="navbar">
        <div class="icon">
            <a href = "../html_files/index.ejs">
                <img src="../Contents/club_logo.png" alt="AISF Logo" class="logo-img">
            </a>
            <h2 style="display: inline;">Artificial Intelligence Student Forum</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/home#about">ABOUT&nbsp;US</a></li>
                <li><a href="/our_committee">OUR&nbsp;COMMITTEE</a></li>
                <li><a href="/contact_us">CONTACT&nbsp;US</a></li>
                <li><a href="/join_us">PARTICIPATE</a></li>
            </ul>
        </div>
        
        <div class="icon1">
            <a href="https://www.viit.ac.in" target="_blank">
                <img src="../Contents/viit_logo.png" alt="VIIT Logo" class="logo-img1">
            </a>
            
        </div>
    </div>

        </div> 
        <div class="content">
          <section class="top_section">
            <div class="image_container">
              <img src="../Contents/club_logo.png" alt="tribute" />
            </div>
            <div>
              <h1>AISF</h1>
              <h2 style="text-align: center;">(Artificial Intelligence Student Forum)</h2>
            </div>
          </section>
          <section class="about_section">
            <h2>VISION</h2>
            <p>Excellence in Computer Science and Engineering
              providing AI-driven solutions with holistic
              development.
            </p>
            <BR>
            <BR>
            <BR> 
            <h2>MISSION</h2>
            <P>To equip aspiring engineers for industry, academia,
              research, and entrepreneurship by offering excellent
              education in emerging AI techniques.
              VISION
              VIIT, PUNE
              MISSION
              To impart value-added technical and research-oriented
              education by inculcating life skills with an emphasis on
              human values.
              To educate and empower Learners with professional
              integrity for research and higher studies</P>
          </section>
          <section class="biography_section">
            <h3>Biographies</h3>
            <ul>
              <li>
                Eternal Quest: Life and Times of Dr Kalam by S Chandra; Pentagon
                Publishers, 2002.
              </li>
              <li>
                President A P J Abdul Kalam by R K Pruthi; Anmol Publications,
                2002.
              </li>
              <li>
                A P J Abdul Kalam: The Visionary of India by K Bhushan, G Katyal;
                A P H Pub Corp, 2002.
              </li>
              <li>
                A Little Dream (documentary film) by P. Dhanapal; Minveli Media
                Works Private Limited, 2008.
              </li>
              <li>
                The Kalam Effect: My Years with the President by P M Nair; Harper
                Collins, 2008.
              </li>
              <li>
                My Days With Mahatma Abdul Kalam by Fr A K George; Novel
                Corporation, 2009.
              </li>
              <li>
                A.P.J. Abdul Kalam: A Life by Arun Tiwari; Haper Collins, 2015.
              </li>
              <li>
                The People's President: Dr A P J Abdul Kalam by S M Khan;
                Bloomsbury Publishing, 2016.
              </li>
            </ul>
          </section>
          
        </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
