<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AISF | Events</title>
    <link rel="stylesheet" href="../css_files/events.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../Contents/club_logo.png">
    <script type="text/javascript">
        (function(){
           emailjs.init({
             publicKey: "iYakpP4zQb4pOJdNO",
           });
        })();
     </script>
</head>
<body>
    <video id="background-video" autoplay loop muted>
        <source src="../Contents/MyVideo.mp4" type="video/mp4">
    </video>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="innernav">
          <div class="brand-title">
            <img src="../Contents/AISF_logo.png" style="width: 6rem">
            <p>AISF</p>
            
          </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
          </div>
        </div>
        <div class="navbar-links">
          <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/home#about">About Us</a></li>
              <li><a href="/our_committee">Committee 2023</a></li>
              <li><a href="/contact_us">Contact Us</a></li>
              <li><a href="/join_us">Participate</a></li>
          </ul>
        </div>
        </nav>
    <div id="heading">
           <h1 class="navbar-heading">UPCOMING EVENTS</h1>
    </div>

    <div class="container">
        <div class="eventbox">
            <div>
                <h2>event name</h2>
                <p class="describe">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, rerum deserunt! Veniam adipisci nemo voluptatum enim, dolorum obcaecati numquam veritatis soluta fugiat architecto vitae a. Ducimus autem, veniam quae nesciunt architecto, voluptatum nostrum ipsa minima, ad laboriosam perspiciatis. Explicabo, pariatur.</p>
                <p class="loc">Location - pune</p>
                <p class="fee">Fees</p>
            </div>
            <button type="button" class="register">REGISTER</button>
            <button type="button" class="km">Know More</button>
        </div>
        <div class="eventbox">
            <div>
                <h2>event name</h2>
                <p class="describe">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, rerum deserunt! Veniam adipisci nemo voluptatum enim, dolorum obcaecati numquam veritatis soluta fugiat architecto vitae a. Ducimus autem, veniam quae nesciunt architecto, voluptatum nostrum ipsa minima, ad laboriosam perspiciatis. Explicabo, pariatur.</p>
                <p class="loc">Location - pune</p>
                <p class="fee">Fees</p>
            </div>
            <button type="button" class="register">REGISTER</button>
            <button type="button" class="km">Know More</button>
        </div>
        <div class="eventbox">
            <div>
                <h2>event name</h2>
                <p class="describe">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, rerum deserunt! Veniam adipisci nemo voluptatum enim, dolorum obcaecati numquam veritatis soluta fugiat architecto vitae a. Ducimus autem, veniam quae nesciunt architecto, voluptatum nostrum ipsa minima, ad laboriosam perspiciatis. Explicabo, pariatur.</p>
                <p class="loc">Location - pune</p>
                <p class="fee">Fees</p>
            </div>
            <button type="button" class="register">REGISTER</button>
            <button type="button" class="km">Know More</button>
        </div>
        <div class="eventbox">
            <div>
                <h2>event name</h2>
                <p class="describe">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, rerum deserunt! Veniam adipisci nemo voluptatum enim, dolorum obcaecati numquam veritatis soluta fugiat architecto vitae a. Ducimus autem, veniam quae nesciunt architecto, voluptatum nostrum ipsa minima, ad laboriosam perspiciatis. Explicabo, pariatur.</p>
                <p class="loc">Location - pune</p>
                <p class="fee">Fees</p>
            </div>
            <button type="button" class="register">REGISTER</button>
            <button type="button" class="km">Know More</button>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const registerButtons = document.querySelectorAll(".register");
            registerButtons.forEach(button => {
                button.addEventListener("click", function() {
                    window.location.href = "/join_us.ejs";
                });
            });
        });
      document.addEventListener('DOMContentLoaded', () => {
          const toggleButton = document.querySelector('.toggle-button');
          const navbarLinks = document.querySelector('.navbar-links');

          toggleButton.addEventListener('click', () => {
              navbarLinks.classList.toggle('active');
          });
      });
    </script>
</body>
</html>