<!DOCTYPE html>
<html lang="en">
<head>
    <title>AISF | Home </title>
    <title> Responsive Contact Us Form  | CodingLab </title>
    <link rel="stylesheet" href="../css_files/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../Contents/club_logo.png">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "iYakpP4zQb4pOJdNO",
      });
   })();
</script>
<script src="index.ejs"></script>
</head>
<body>
  <video id="background-video" autoplay loop muted>
    <source src="../Contents/MyVideo.mp4" type="video/mp4">
  </video>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="innernav">
      <div class="brand-title">
        <img src="../Contents/AISF_logo.png" style="width: 6rem">
        <p>AISF</p>
        
      </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
      </div>
    </div>
    <div class="navbar-links">
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/home#about">About Us</a></li>
          <li><a href="/our_committee">Committee 2023</a></li>
          <li><a href="/contact_us">Contact Us</a></li>
          <li><a href="/join_us">Participate</a></li>
      </ul>
    </div>
    </nav>
    
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->


        <div class="card">          
            <div class="face face2">
                <!-- <img src="" alt="" class="center_logo"> -->
                <img src="../Contents/AISF_logo.png" class="img-fluid" alt="AISF Logo" id="logoimg">
                <h1 id="logotitle">ARTIFICIAL INTELLIGENCE STUDENT FORUM</h1>
            </div>
            
        </div>

        <div class="content" id="about">
            <section class="top_section">
              <div class="image_container">
                <!-- <img src="../Contents/club_logo.png" alt="tribute" /> -->
              </div>
              <div>
                <h1>AISF</h1>
                <h2 style="text-align: center;">(Artificial Intelligence Student Forum)</h2>
              </div>
            </section>
            <section class="about_section">
              <p>The Artificial Intelligence Student Forum (AISF) at
                Vishwakarma Institute of Information Technology (VIIT) is a
                dynamic platform where students passionate about
                artificial intelligence come together to explore, innovate,
                and collaborate. As a dedicated technical club within the
                Computer Science and Engineering (Artificial Intelligence)
                department. AISF aims to foster a vibrant community of AI
                enthusiasts. Through workshops, bootcamps, seminars,
                competitions, and hands-on projects, AISF provides
                opportunities for students to enhance their skills,
                exchange knowledge, and stay updated with the latest
                trends in AI technology.</p>
              <h3 style="border-bottom: 4px solid #f94f00; display: inline-block;">VISION</h3>
              <p>Excellence in Computer Science and Engineering
                providing AI-driven solutions with holistic
                development.
              </p>
              <BR> 
              <h3 style="border-bottom: 4px solid #f94f00; display: inline-block;">MISSION</h3>
              <P>To equip aspiring engineers for industry, academia,
                research, and entrepreneurship by offering excellent
                education in emerging AI techniques.
                VISION
                VIIT, PUNE
                MISSION
                To impart value-added technical and research-oriented
                education by inculcating life skills with an emphasis on
                human values.
                To educate and empower Learners with professional
                integrity for research and higher studies</P>
                <br>
                
            </section>
            <section class="biography_section">
              
            </section>
            
          </div>

        <div class="title">
            <h2>INITIATIVES</h2>
        </div>
        <div class="initiatives">
            <div class="box">
                <img src="../Contents/1.jpeg" alt="Club Logo">
                <div class="box-content">
                    <h3>Frontend Bootcamp</h3>
                    <p>Comprehensive Workshop on leading front end technologies like bootstrap and react</p>
                </div>
            </div>
            <div class="box container">
                <img src="../Contents/1705919772053 (1).jpeg" alt="Club Logo">
                <div class="box-content">
                    <h3>Python for ML Bootcamp</h3>
                    <p>Bootcamp on prominent and essential libraries of Python for Machine Learning</p>
                </div>
            </div>
            <div class="box">
                <img src="../Contents/1713453339455 (1).jpeg" alt="Club Logo">
                <div class="box-content">
                    <h3>Art of Writing Research papers</h3>
                    <p>Insigntful session on essential components for writing allround Research Paper</p>
                </div>
            </div>
        </div>

        <div class="title">
            <h2>FACULTIES(CSE-AISF)</h2>
        </div>
        <div class="wrapper">
          <div class="card faculty_card" style="width: 20rem;">
            <img src="../Contents/faculty2.jpeg" class="card-img-top" alt="...">
            <div class="card-body info">
              <h1>Dr. Nilesh Sable</h1>
              <p class="card-text">Head of Department - CSE-AI</p>
              <!-- <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
          <div class="card faculty_card" style="width: 20rem;">
            <img src="../Contents/faculty1.jpeg" class="card-img-top" alt="...">
            <div class="card-body info">
              <h1>Dr. Anuradha Yenkikar</h1>
              <p class="card-text">Faculty Coordinator - AISF</p>
                  <!-- <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
            <!-- <div class="faculty_card"><img src="../Contents/faculty2.jpeg"/>
              <div class="info">
                <h1>Prof.Nilesh Sable</h1>
                <p>Head of Department - CSE-AI</p>
              </div>
            </div> -->
            <!-- <div class="faculty_card"><img src="../Contents/faculty1.jpeg"/>
              <div class="info">
                <h1>Dr. Anuradha Yenkikar</h1>
                <p>Faculty Coordinator - AISF</p>
              </div>
            </div> -->
           
        </div>

        <!-- <div class="title">
            <h2>EVENT GALLARY</h2>
        </div> -->
        


    <footer class="foot">
        <div class="contact-info">
            <p>Email: aisf@viit.ac.in</p>
            <p>Contact No.: +91 7744931758</p>
            <p>Contact Address: VIIT College, Kondhwa, Pune.</p>
        </div>
        <div>
            <div class="contact-pages">
                <a href="https://www.instagram.com/aisfviit?igsh=MW9zNG81Y2ljNmRnMw==" target=""><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                <!-- <a href="https://x.com/Aniket_S_Dhage?t=REBzqS9XUXv8nACKlddi_Q&s=09" target=""><img src="../Contents/twitter-icon.png" alt="Twitter"></a> -->
                <a href="https://www.linkedin.com/company/artificialintelligencestudentforum/" target=""><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
            </div>
            <p class="copyright">&copy; 2024 AISF. All rights reserved.</p>
        </div>
    </footer>



        
    <script>
      document.addEventListener('DOMContentLoaded', () => {
          const toggleButton = document.querySelector('.toggle-button');
          const navbarLinks = document.querySelector('.navbar-links');

          toggleButton.addEventListener('click', () => {
              navbarLinks.classList.toggle('active');
          });
      });
  </script>
    <script src="index.js"></script>


</body>
</html>
