<!DOCTYPE html>
<html lang="en">
<head>
    <title>AISF | Committee</title>
    <link rel="stylesheet" href="../css_files/our_committee.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../Contents/club_logo.png">
</head>
<body>

    <video id="background-video" autoplay loop muted>
        <source src="../Contents/MyVideo.mp4" type="video/mp4">
    </video>

    <script type="text/javascript">
        (function() {
            emailjs.init({
                publicKey: "iYakpP4zQb4pOJdNO",
            });
        })();
    </script>
    <script src="index.ejs"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="innernav">
          <div class="brand-title">
            <img src="../Contents/AISF_logo.png" style="width: 6rem">
            <p>AISF</p>
            
          </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
          </div>
        </div>
        <div class="navbar-links">
          <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/home#about">About Us</a></li>
              <li><a href="/our_committee">Committee 2023</a></li>
              <li><a href="/contact_us">Contact Us</a></li>
              <li><a href="/join_us">Participate</a></li>
          </ul>
        </div>
        </nav>

        <div class="title">
            <h2 >COMMITTEE 2023-34</h2>
        </div>
        <div class="committee">
            <div class="box">
                <div class="content">
                    <img src="../Contents/president.jpg">
                    <h2>President<br><span>Ashish Deshmukh</span></h2>
                    <div class="social-media">
                        <a href="https://www.linkedin.com/in/ashish-deshmukh-aa432025b/"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                        <a href="https://www.instagram.com/____ashish_deshmukh____?igsh=bGpkZWxyYW1nb2Ri"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                        <a href="https://twitter.com/__Ashish22__"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                        
                    </div>
                </div>
            </div>
            
            <div class="joint">
                <div class="box">
                    <div class="content">
                        <img src="../Contents/vice_president.jpeg">
                        <h2>Vice President<br><span>Varad Sabane</span></h2>
                        <div class="social-media">
                            <a href="#"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="#"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/LR.jpeg">
                        <h2>LR<br><span>Naisargee Bagal</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/naisargi-bagal?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/naisargi_0903?igsh=ZXBvdzFiOWg5cnFn"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                
            </div>
    
            <div class="title1">
                <h2 >TECHNICAL TEAM</h2>
            </div>
    
            <!-- </div> -->
            <!-- <div class="title">
                <h2>Technical Team</h2>
            </div> -->
            <div class="joint">
                
                <div class="box">
                    <div class="content">
                        <img src="../Contents/Nishant_Desale.jpg">
                        <h2>Technical Head<br><span>Nishant Desale</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/nishant-desale-982b49268?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
                            "><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
    
    
                            <a href="https://www.instagram.com/nishant_1402_?igsh=ZDZmcnlwM21tazU0"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
    
    
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/ASHISH YADAV - 409_ashish Kumar Yadav.jpg">
                        <h2>Joint Technical Head<br><span>Ashish Yadav</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/ashish-kumar-yadav-888b0325a"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/ashish_yadav1307/"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="https://x.com/Ashish_satire"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    
            <div class="title1">
                <h2 >EVENT TEAM</h2>
            </div>
    
            <!-- <div class="title">
                <h2>Event Team</h2>
            </div> -->
            <div class="joint">
                
                <div class="box">
                    <div class="content">
                        <img src="../Contents/manoj.png">
                        <h2>Event Head<br><span>Manoj Naidu</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/manoj-naidu-4b2265260?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/manoj__7707?igsh=MWRqMTd6OWgydDVpZA=="><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/swapnil_darphale.jpg">
                        <h2>Joint Event Head<br><span>Swapnil Darphale</span></h2>
                        <div class="social-media">
                            <a href="#"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="#"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                
            </div>
    
    
    
    
    
            <div class="title1">
                <h2 >DESIGN TEAM</h2>
            </div>
            <!-- <div class="title">
                <h2>Design Team</h2>
            </div> -->
            <div class="joint">
                
                <div class="box">
                    <div class="content">
                        <img src="../Contents/atharva u.png" id="au">
                        <h2>Design Head<br><span>Atharva Uttarkar</span></h2>
                        <div class="social-media">
                            <a href="#"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="#"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/siddhesh1.png">
                        <h2>Joint Design Head<br><span>Siddhesh Joshi</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/siddhesh-joshi-a08468257?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/sid_j.21?igsh=cjU0bmIzcmRvNTB6"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="https://x.com/JS61095729?t=77ntdpizta_mic3r0fbhLQ&s=08"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                
            </div>
    
    
    
            <div class="title1">
                <h2 >DOCUMENTATION TEAM</h2>
            </div>
            <!-- <div class="title">
                <h2>Documentation Team</h2>
            </div> -->
            <div class="joint">
                
                <div class="box">
                    <div class="content">
                        <img src="../Contents/janvi.jpeg">
                        <h2>Documentation Head<br><span>Janvi Sawalkar</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/janvi-sawalkar-08687625b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/janvii0707?igsh=ajFtYzYyM3Y5dmM1"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="https://x.com/JanviSawalkar?t=npLgfKwqfsPyTke0q4cT7w&s=09"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/Harita Joshi.png">
                        <h2>Joint Documentation Head<br><span>Harita Joshi</span></h2>
                        <div class="social-media">
                            <a href="#"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="#"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                
            </div>
    
    
    
    
    
            <div class="title1">
                <h2 >SOCIAL MEDIA TEAM</h2>
            </div>
            <!-- <div class="title">
                <h2>Media Team</h2>
            </div> -->
            <div class="joint">
                
                <div class="box">
                    <div class="content">
                        <img src="../Contents/kashish.jpg">
                        <h2>Social Media<br><span>Kashish Dingreja</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/kashish-dingreja-05b06324b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
                            "><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/_x__kashish__x_?igsh=MW5sM3JyMzRodGZ3NQ=="><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/samruddhi.png">
                        <h2>Social Media<br><span>Samruddhi</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/samruddhi-kathale-770373245?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/_stfusam?igsh=NHp1dmhnMmgxM2kx&utm_source=qr"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    
            <div class="title1">
                <h2>FINANCE TEAM</h2>
            </div>
            <!-- <div class="title">
                <h2>Finance Team</h2>
            </div> -->
            <div class="joint">
                
                <div class="box">
                    <div class="content">
                        <img src="../Contents/Pranav bire.jpg">
                        <h2>Finance Head<br><span>Pranav Bire</span></h2>
                        <div class="social-media">
                            <a href="#"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="#"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/Atharva Navani.jpg">
                        <h2>Joint Finance Head<br><span>Atharva Navani</span></h2>
                        <div class="social-media">
                            <a href="#"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="#"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    
            <div class="title1">
                <h2>PUBLICITY TEAM</h2>
            </div>
            <!-- <div class="title">
                <h2>Publicity team</h2>
            </div> -->
            <div class="joint">
                
                <div class="box">
                    <div class="content">
                        <img src="../Contents/Ritika Gadapa.jpg">
                        <h2>Publicity Head<br><span>Ritika Gadapa</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/ritika-gadapa-96994325b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
                            "><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/ritikaaa_97?igsh=bDRsbDg5ZDk4cWN1"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="https://x.com/Ritikaaa18"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/pranav s.png" id="ps">
                        <h2>Joint Publicity Head<br><span>Pranav Sathe</span></h2>
                        <div class="social-media">
                            <a href="https://www.linkedin.com/in/pranav-sathe-53445825a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href=" https://www.instagram.com/pranavsathe_75?igsh=MTRtbmZidjJlNXl6aQ=="><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    
    
    
            <div class="title1">
                <h2>PHOTOGRAPHY AND EDITING TEAM</h2>
            </div>
            <!-- <div class="title">
                <h2>photography and editing Team</h2>
            </div> -->
            <div class="joint">
                
                <div class="box">
                    <div class="content">
                        <img src="../Contents/ritesh.png">
                        <h2>Photographer<br><span>Ritesh Bagade</span></h2>
                        <div class="social-media">
                            <a href=" https://www.linkedin.com/in/ritesh-bagade-0a691525a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
                            "><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/ritesh__1154?igsh=NDRxYXhkMmd2ejE1"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="https://x.com/Ritesh_1154?t=O6T0-rp9cHtFqg6cCzo0DQ&s=09"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <img src="../Contents/AKASH_ GANGURDE.jpg">
                        <h2>Video Editor<br><span>Akash Gangurde</span></h2>
                        <div class="social-media">
                            <a href=" https://www.linkedin.com/in/akash-gangurde-0794aa258/"><img src="../Contents/linkedin-icon.png" alt="LinkedIn"></a>
                            <a href="https://www.instagram.com/akash.gangurde.581525/"><img src="../Contents/Instagram-icon.png" alt="Instagram"></a>
                            <a href="#"><img src="../Contents/twitter-icon.png" alt="Twitter"></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
    
    
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const toggleButton = document.querySelector('.toggle-button');
                const navbarLinks = document.querySelector('.navbar-links');
    
                toggleButton.addEventListener('click', () => {
                    navbarLinks.classList.toggle('active');
                });
            });
        </script>

    <script src="index.js"></script>
  </body>
</html>
